* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
@font-face{
    font-family:test;
    src:url("CaviarDreams.ttf");
    
}
@font-face{
    font-family:bb;
    src:url("batmfa.ttf");
   
}
#sc0{
    height: 150px;
    background-color: red;
}
#sec1{
    height: 250px;
    background-color: red;
}
#sec2{
    background-color: red;
    height: 400px;
}
#img1{
    border-bottom-style: dashed;
    border-bottom-color: #00c6bf;
    border-top-style: dashed;
    border-top-color: #00c6bf;
    border-radius: 100%;
    border-width: 5px;
    width: 130px;
    height: 130px;
    position: relative;
    left: 66%;
    top:10px;
}
.container {
  width: 1170px;
  margin: auto;
}
#sitename{
    font-family: inherit;
    position: relative;
    top: -120px;
    color:aqua;
  text-decoration: none;
  font-size: 30px;
    letter-spacing: 4px;
    right: 35.6%;
        word-spacing: 6px;

        
}
#goran{
    font-family: inherit;
    position: relative;
    top: -120px;
    color: aqua;
  text-decoration: none;
  font-size: 15px;
    right: 45%;
        
}
/* strat header */
header {
  width: 100%;
  height: 150px;
  background-color: rgb(0, 0, 0);
  position: relative;
  text-align: center;
    
}




header .container nav ul {
    position: relative;
    top:110px;
    right:54%;
  list-style: none;
  float: right;
  
}
header .container nav ul li {
  text-transform: capitalize;
  display: inline-block;
}
header .container nav ul li a {
  color: #6cff00;
  text-decoration: none;
  margin-right: 40px;
  line-height: 30px;
  font-size: 16px;
}
header .container nav ul li #active {
  color: aqua;
}
header .container nav ul li:last-of-type {
  border-right: 1px solid aqua;
}
header .container nav ul li a:hover {
  color: aqua;
}
/*end header */

/*start div */
#sec1 #a1{
    position: relative;
    top: -9.4em;
    background-color: aqua;
    background-repeat: no-repeat;
    background-image: url(../photos/Banner_slider_cybersecurity.jpg) ;background-size: 100% 100%;
    width: 100%;
    height: 400px;
}
 #sec1 #a1 h1 {
  color: #f0f8fb;
  font-size: 2.7em;
  margin-top: 150px;
  margin-bottom: 15px;
    text-align: center;
    position: relative;
    top: 4em;
}
 #sec1 #a1 p {
    text-align: center;
    position: relative;
    top: 11em;
  font-size: 14px;
  color: #a8b9c0;
  margin-bottom: 35px;
}
 #sec1 #a1 button {
    
    position: relative;
    top: 14em;
  background-color: #000000;
  color: #ffbb06;
  border-radius: 20px;
  width: 190px;
  height: 45px;
  border: none;
  cursor: pointer;
    right: -43em;
}
#sec1 #a1 button a {
  text-decoration: none ;
    font-size: 20px;
    color: #00ffff;
}
footer {
  width: 100%;
  height: 350px;
  background-color: #000000;
  padding: 55px 0;
}
footer .container .lic {
  width: 35%;
  height: 100%;
  text-align: left;
  float: left;
  margin-right: 15px;
}


footer .container .lic p {
  font-size: 14px;
  line-height: 30px;
  color:#00bfff;
  margin-bottom: 100px;
}
footer .container .lic h5 {
  color: #00bfff;
  margin-bottom: 5px;
}

footer .container .links {
  width: 15%;
  height: 100%;
  float: left;
  margin-right: 30px;
}
footer .container .links ul,
footer .container .about ul {
  list-style: none;
  color: #00bfff;
}
footer .container .links ul li:first-of-type,
footer .container .about ul li:first-of-type {
  margin-top: 5px;
}
footer .container .links ul li,
footer .container .about ul li {
  font-size: 14px;
  color: #c4ff00;
  padding: 11px 0;
  text-transform: capitalize;
}
footer .container .links ul li:hover,
footer .container .about ul li:hover {
  color: #00bfff;
}
footer .container .about {
  float: left;
}

footer .container .contact {
  float: right;
  width: 35%;
  height: 100%;
}
footer .container .contact h4 {
  color: #c4ff00;
  font-size: 14px;
  margin-bottom: 15px;
}
footer .container .contact p {
  color: #00bfff;
  font-size: 12px;
  margin-bottom: 30px;
  width: 300px;
}
footer .container .contact button {
  width: 370px;
  height: 45px;
  background-color: rgb(255, 88, 0);
  color: #fff;
  font-size: 12px;
  border: none;
  border-radius: 25px;
  line-height: 45px;
  cursor: pointer;
  
}
#dds{
    
    
}
footer img,
footer span,
footer li {
  cursor: pointer;
}
/* start footer */